body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-color: rgba(253, 246, 233)
}   

header{
    background-color: #ce3838;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.retour{
    text-decoration:none;
    color: white;
    font-size: 25px;
    font-weight: 600;
    align-items: center;
    position: absolute;
    left: 20px; 
}

h1{
    text-align: center;
    color: rgb(252, 252, 252);
}

h2{
    text-align: center;
    margin-top: 50px;
}

h2::first-letter{
    text-transform: uppercase;
}

.pokemon-image{
    text-align: center;
}

.details-carte{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d2d2;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px; 
    width: 40%;          
    margin: 0 auto;
    padding: 20px;
    
    
}

.données-pokemon {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

img{
    width: 300px;
    height: 300px;
    /* padding-right: 100px; */
    margin-right: 50px;
}


.favorite-btn{
    height: 50px;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid #ce3838;
    border-color: #ce3838;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-size: 15px;
}


.favorite-btn:hover{
    transform: scale(1.05);
    
}

th, td{
    border-bottom: 1px solid #696969;
    padding: 8px;
}

.données-pokemon td{
    text-align: right;
    
}

.données-pokemon th{
    text-align: left;
}

table{border-collapse: collapse;
}

.type{
    text-transform: capitalize;
}

